.nav-link-hover   {
  color: #c8c8c8; /* Default color */
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  position:relative;
}

.nav-link-hover:hover {
  color: #fafafa; /* Change color on hover */
  text-decoration: underline;
  text-underline-offset: 3px; /* Underline on hover */
}

.nav-link-hover2{
  color: #c8c8c8; /* Default color */
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  position:relative;


}
.nav-link-hover2:hover{
  color: #fafafa; /* Change color on hover */

 
}